<h5>Diretiva *ngFor</h5>

<ul>
    <li *ngFor="let curso of cursos, let i = index">
        {{ i + 1}} - {{ curso }}</li>
</ul>

/////////////////////////////////////////////////////////////////
<br><br>

<h5>Removendo p * e usando o template</h5>

<!--
<ul>
    <li template="ngFor let curso of cursos, let i = index">
        {{ i + 1}} - {{ curso }}</li>
</ul>

<ul>
    <template ngFor [ngForOf]="cursos" let-curso let-i="index">
        <li>
            {{ i + 1}} - {{ curso }}
        </li>
    </template>
</ul>

-->