<!--
<h1>Hello World</h1>
<app-teste>Teste works</app-teste>

<diretiva-ngif></diretiva-ngif>

<diretiva-ngfor></diretiva-ngfor>

<diretiva-ngswitch></diretiva-ngswitch>
-->
<diretiva-ngclass></diretiva-ngclass>