<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0" >
    Lista de Cursos
</div>

<div *ngIf="cursos.length == 0">
    Não existem cursos para serem listados.
</div>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>

<div *ngIf="!mostrarCursos">
    Não existem cursos para serem listados.
</div>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h5>Hidden como alternativa</h5>

<div [hidden]="!mostrarCursos">
    Lista de cursos aqui.
</div>

<div [hidden]="mostrarCursos">
    Não existem cursos para serem listados.
</div>
<br>
/////////////////////////////////////////////////
<br><br>
<h5>Removendo o * e usando template</h5>

<div *ngIf="mostrarCursos"></div>

<!--
    <template [ngIf]="mostrarCursos">
    <div>Lista de cursos aqui.</div>
    </template>

    <div template="ngIf mostrarCursos">
        Lista de cursos.
    </div>
-->

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>