<nav class="navbar navbar-dark bg-dark">  
    <div class="nav navbar-nav">
        <a class="nav-item nav-link"
        [class.ative]="aba == 'home'"
        (click)="aba = 'home'">Home</a>
        <a class="nav-item nav-link"
        [class.ative]="aba == 'mapa'"
        (click)="aba = 'mapa'">Mapa</a>
        <a class="nav-item nav-link"
        [class.ative]="aba == 'lista'"
        (click)="aba = 'lista'">Lista</a>        
    </div>    
</nav>

<div class="container" [ngSwitch]="aba" >
    <p *ngSwitchCase="'mapa'">Modo mapa ativado</p>
    <p *ngSwitchCase="'lista'">Modo lista ativado</p>
    <p *ngSwitchDefault>Home</p>
</div>

///////////////////////////////////////////////////////////////
<br><br>
<h5>Removendo o * e usando o template</h5>

<!--
<div class="container" [ngSwitch]="aba" >
    <template [ngSwitchCase]="'mapa'">
        <p>Modo Mapa Ativado</p>
    </template>
    <template [ngSwitchCase]="'lista'">
        <p>Modo Lista Ativado</p>
    </template>
    <template [ngSwitchCase]="'home'" ngSwitchDefault>
        <p>Home</p>
    </template>
</div>
-->
